VITE_SUPABASE_URL=https://tkqdzbrrqmqixubwfnbk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrcWR6YnJycW1xaXh1YndmbmJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1ODAzMTYsImV4cCI6MjEwMTE1NjMxNn0.nfE0VFjEZpxfxy6TGwwOOxcUkBG171RSGukTtylN0FE
